/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  min-height: 100vh;
}

/* styles.css */
.prose-mdx table {
  border-collapse: collapse;
  width: 100%;
}

.prose-mdx th,
.prose-mdx td {
  border: 1px solid #ccc;
  padding: 8px;
}

.prose-mdx th {
  background-color: #f4f4f4;
  text-align: left;
}

.prose-mdx a {
  color: #196c32;
}

.prose-mdx a:visited,
.prose-mdx a:hover {
  color: #114b23;
}

.prose-mdx a:active {
  color: #47895b;
}

@media (prefers-color-scheme: dark) {
  .prose-mdx th {
    background-color: #333;
    color: #fff;
  }

  .prose-mdx th,
  .prose-mdx td {
    border: 1px solid #555;
  }

  .prose-mdx a {
    color: #87d991;
  }

  .prose-mdx a:visited,
  .prose-mdx a:hover {
    color: #5e9765;
  }

  .prose-mdx a:active {
    color: #9fe0a7;
  }
}
